# -*- coding: utf-8 -*-
"""
Created on Mon Aug 24  2020

@author: Shyam sunder Reddy
"""


<!DOCTYPE html>
<html lang="en">
<head>
  <title>static image content</title>
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{url_for('static',filename='js/index.js')}}"
  
  
  
 </head> 
 <body>
     this is the deme for static file
     
     <img src="{{url_for('static',filename='images/sample.jpg')}}"
 alt=""/>
 
 <div id="div-content">
 im from HTML

</div> 
 </body>
  </html>